<h2>Artists you've searched for</h2>
<ul id="double">
<% @artists.each do |artist| %>
  <li class="inline-form"><%= artist.name %></li>
  <li class="inline-form"><%= form_for ArtistUser.find_by(:artist_id => artist.id, :user_id => current_user.id), :method => :delete, :html => {:class => "inline-form"}, data: { confirm: "Are you sure you want to delete this artist?" } do |f| %>
          <%= f.hidden_field :artist_id, :value => artist.id %>
          <%= f.submit "Delete from My Artists", :id => 'delete_event', :class => "btn btn-danger btn-sm" %>
        <% end %></li>
<% end %>
</ul>

<h2>Artists from your Spotify library
<%= form_for SpotifyArtist.new, :method => :patch, :html => {:class => "inline-form"} do |f| %>
  <%= f.submit 'Refresh', :class => "btn btn-success"  %>
<% end %>
</h2>
<ul>
<% @spotify_artists.each do |artist| %>
  <li><%= artist.name %></li>
<% end %>
</ul>