    <h3>Thanks for using Concertify, <%= @user.name %></h3>
    <p>
      To log in to the site, just follow this link: <%= @url %>.
    </p>
    <br>

<p> Event title: <%= @event.title %> </p>
<p>Event date: <%=  @event.formatted_datetime %> </p>
<p> Event location: <%=  @event.location %> </p>

==========