<p>Update profile for <%= @user.name %></p>
<%= form_for @user do |f| %>
  <p>
  <%= f.label :email %>
  <%= f.text_field :email, :placeholder => "Email address" %>
  </p>
  <p>
  <%= f.submit 'Update email' %>
  </p>
<% end %>