<p><%= @user.events.count %> events saved</p>
<ul>
<% @user.events.each do |event| %>
  
  <li><%= event.formatted_datetime %></li>
  <ul>
  <li><%= event.title %></li>
  <li><%= event.location %></li>
  </ul>
<% end %>
</ul>
<br>
<p>
<%= form_for Email.new do |f|%>
<%= f.hidden_field :user_id, :value => @user.id %>
<%= f.text_field :email_address, :placeholder => "Email address" %>
<%= f.submit :add_to_calendar, :id => 'add_to_calendar', :value => "Send me a Google invite!" %>
<% end %>
</p>