<li><%= event.formatted_datetime %></li>
  <ul>
    <li><%= link_to event.title, event.ticket_url, :target => "_blank" %></li>
    <% if show_save %>
      <%= f.check_box "save_#{event.id}".to_sym, :checked => User.first.events.where(:events=>{id: event.id}).count == 1 %>
      <%= f.label :save_event%>
    <% else %>
      <%= form_for EventUser.find_by(:event_id => event.id, :user_id => current_user.id), :method => :delete do |f| %>
        <%= f.hidden_field :event_id, :value => event.id %>
        <%= f.submit "Delete from My Events", :id => 'delete_event', :class => "btn btn-danger" %>
      <% end %>
      <br>
       <%= form_for EventUser.find_by(:event_id => event.id, :user_id => current_user.id), :method => :post do |f| %>
        <%= f.hidden_field :event_id, :value => event.id %>
        <%= f.submit "Send me an email reminder", :id => 'email_event', :class => "btn btn-primary" %>
      <% end %>
    <% end %>
  </ul>