<div id="error_messages_display"><%= link_to 'Your email is not set! Please edit your profile.', user_path(current_user) %> </div>
<div id="success_messages_display"><%= link_to 'An email has been sent to your address on file.', user_path(current_user) %> </div>

<p><%= @events.count %> events saved</p>

<ul>
<% @events.each do |event| %>
  <%= render 'events/show', {:event => event, :show_save => false} %>
<% end %>
</ul>
<% if @events.count == 0 %>
  <%= link_to 'Try a search', new_request_path %>
<% end %>