<% if @location == "" %>
<h2>Most Saved Events</h2>
<% else %>
<h2>Most Saved Events for <%= @location %></h2>
<% end %>

<% if @top_events.any? %>
  <%= form_for EventUser.new do |f| %>
    <ol>
      <% @top_events.each do |event| %>
      <li>
        <%= "#{event["title"]}" %><br>
        <%= "#{event["formatted_datetime"]} (saved by #{event["count"]} #{'user'.pluralize(event["count"])})" %><br>
        <%= f.check_box "save_#{event["id"]}".to_sym, :checked => current_user.events.where(:events=>{id: event["id"]}).count == 1 %>
        <%= f.label :save_event%>
        </li>
    <% end %>
    <ol>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Save selected events", :class => "btn btn-success" %>
  <% end %>
<% end %>