<h1>Search results for <%= @request.artist %></h1>
<ul>
  <% @request.events.each do |event| %>
    <li><%= event.formatted_datetime %></li>
    <ul>
      <li><%= event.title %></li>
      <li><%= event.location %></li>
    </ul>
  <% end %>
</ul>
<h3><%= link_to 'Search again', new_request_path %></h3>