<h2><%= @artist_events.count + @related_events.count %> events found near <%= "#{@request.city}, #{@request.state}" %>!</h2>
<h3><%= link_to 'Search again', new_request_path %></h3>

<%= form_for EventUser.new do |f| %>
<h2>Search results for <%= @request.artist %></h2>
<ul>
  <% @artist_events.each do |event| %>
    <li><%= event.formatted_datetime %></li>
    <ul>
      <li><%= event.title %></li>
      <li><%= event.location %></li>
      <%= f.check_box "save_#{event.id}".to_sym, :checked => User.first.events.where(:events=>{id: event.id}).count == 1 %>
      <%= f.label :save_event%>
    </ul>
  <% end %>
</ul>
<h2>Related events</h2>
<ul>
  <% @related_events.each do |event| %>
    <li><%= event.formatted_datetime %></li>
    <ul>
      <li><%= event.title %></li>
      <li><%= event.location %></li>
      <%= f.check_box "save_#{event.id}".to_sym, :checked => User.first.events.where(:events=>{id: event.id}).count == 1 %>
      <%= f.label :save_event%>
    </ul>
  <% end %>
</ul>

<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Save selected events", :class => "btn btn-success" %>
<% end %>
