<h2><%= @artist_events.count + @related_events.count %> events found near <%= "#{@request.city}, #{@request.state}" %>!</h2>
<h3><%= link_to 'Search again', new_request_path %></h3>

<%= form_for EventUser.new do |f| %>
  <h2>Search results for <%= @request.artist %></h2>
  <% if @artist_events.empty? %>
    <p>No exact matches found</p>
  <% else %>
    <p><%= @artist_events.count %> exact matches found</p>
  <% end %>
  <ul>
    <% @artist_events.each do |event| %>
      <%= render 'events/show', {:event => event, :show_save => true, :f => f} %>
    <% end %>
  </ul>
  <h2>Recommended events</h2>
  <% if @related_events.empty? %>
    <p>No recommended events found</p>
  <% else %>
    <p><%= @related_events.count %> recommended events found</p>
  <% end %>
  <ul>
    <% @related_events.each do |event| %>
      <%= render 'events/show', {:event => event, :show_save => true, :f => f} %>
    <% end %>
  </ul>
  <% if @artist_events.any? || @related_events.any? %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Save selected events", :class => "btn btn-success" %>
  <% end %>
<% end %>

